<!-- Table-->
<div class="card mb-3">
    <div class="card-header">
        <button class="btn btn-success btn-xs"
                ng-click="setSelectedCentury({})"
                data-title="Delete"
                data-toggle="modal"
                data-target="#addEditModal">
            <span class="fa fa-plus"></span>
        </button>
        <i class="fa fa-sitemap"></i> Zenturien
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="selectedCohort">Vorauswahl der Kohorte:</label>
                <select class="form-control"
                        id="selectedCohort"
                        ng-options="cohort.name for cohort in cohortsAdvanced"
                        ng-model="selectedCohort"
                        ng-change="setSelectedValues()">
                </select>
            </div>
            <div class="form-group">
                <label for="selectedManiple">Vorauswahl der Manipel:</label>
                <select class="form-control"
                        id="selectedManiple"
                        ng-options="maniple.name for maniple in selectedCohort.maniples"
                        ng-Model="selectedManiple">
                </select>
            </div>
        </form>
        <div class="table-responsive">
            <table class="table table-bordered" id="centuryTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Bezeichnung</th>
                    <th>Anz. Studenten</th>
                    <th>Wechselzeit</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="century in selectedManiple.centuries">
                    <td>{{century.name}}</td>
                    <td>{{century.numberOfStudents}}</td>
                    <td>{{century.minChangeoverTime}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs"
                                ng-click="setSelectedCentury(century)"
                                data-title="Edit"
                                data-toggle="modal"
                                data-target="#addEditModal">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button ng-click="setSelectedCentury(century)"
                                class="btn btn-danger btn-xs"
                                data-title="Delete"
                                data-toggle="modal"
                                data-target="#deleteModal">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content card mx-auto mt-5">
            <div class="card-header">Löschen</div>
            <div class="card-body">
                <form name="modal">
                    <div class="form-group">Möchten Sie die ausgewählte Zenturie aus der Verwaltung entfernen?</div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-labeled btn-secondary" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-times"></i></span>Abbrechen
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger" ng-click="deleteData()"
                                ng-show="century.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-trash"></i></span>Löschen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add/Edit Modal-->
<div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content card mx-auto mt-5">
            <div class="card-header">{{century.id ? 'Aktualisieren' : 'Hinzufügen'}}</div>
            <div class="card-body">
                <form name="modal">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputTitel">Bezeichnung</label>
                            <input type="text"
                                   class="form-control"
                                   ng-model="century.name"
                                   id="inputTitel"
                                   placeholder="z.B. a"
                                   maxlength="1">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="modalSelectedCohort">Kohorte</label>
                            <select class="form-control"
                                    id="modalSelectedCohort"
                                    ng-options="cohort.name for cohort in cohorts"
                                    ng-model="modalSelectedCohort">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="modalSelectedManiple">Manipel</label>
                            <select class="form-control"
                                    id="modalSelectedManiple"
                                    ng-options="maniple.name for maniple in modalSelectedCohort.maniples"
                                    ng-Model="modalSelectedManiple">
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputChangeOverTime">Anz. Studenten</label>
                            <input type="number"
                                   class="form-control"
                                   ng-class="{ 'is-invalid': !modal.students.$valid}"
                                   name="students"
                                   ng-model="century.numberOfStudents"
                                   id="inputStudents"
                                   min="1"
                                   max="100"
                                   step="1"
                                   placeholder="30"/>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputChangeOverTime">Wechselzeit</label>
                            <div class="input-group">
                                <input type="number"
                                       class="form-control"
                                       ng-class="{ 'is-invalid': !modal.changeOverTime.$valid}"
                                       name="changeOverTime"
                                       ng-model="century.minChangeoverTime"
                                       id="inputChangeOverTime"
                                       min="0"
                                       max="120"
                                       step="1"
                                       placeholder="0"/>
                                <span class="input-group-addon">Minuten</span>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-labeled btn-secondary" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-times"></i></span>Abbrechen
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" ng-click="updateData()"
                                ng-show="century.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-refresh"></i></span>Aktualisieren
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" ng-click="createData()"
                                ng-hide="century.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>Hinzufügen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="../vendor/sb-admin/js/sb-admin-datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#centuryTable').DataTable({
            "language": {
                "sEmptyTable":      "Keine Daten in der Tabelle vorhanden",
                "sInfo":            "_START_ bis _END_ von _TOTAL_ Einträgen",
                "sInfoEmpty":       "0 bis 0 von 0 Einträgen",
                "sInfoFiltered":    "(gefiltert von _MAX_ Einträgen)",
                "sInfoPostFix":     "",
                "sInfoThousands":   ".",
                "sLengthMenu":      "_MENU_ Einträge anzeigen",
                "sLoadingRecords":  "Wird geladen...",
                "sProcessing":      "Bitte warten...",
                "sSearch":          "Suchen:",
                "sZeroRecords":     "Keine Einträge vorhanden.",
                "oPaginate": {
                    "sFirst":       "Erste",
                    "sPrevious":    "Zurück",
                    "sNext":        "Nächste",
                    "sLast":        "Letzte"
                },
            }
        } );
    } );
</script>