<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">My Dashboard</li>
</ol>
<!-- Icon Cards-->
<div class="row">
    <div class="col-xl-12 col-sm-7 mb-12">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Daten generieren</div>
            </div>
            <a style="cursor: pointer" class="card-footer text-white clearfix small z-1" ng-click="generateData()">
                <span>Hier Klicken!</span>
            </a>
        </div>
    </div>
</div>
<!-- Angular UI Calendar -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-calendar"></i> Veranstaltungsplanung
    </div>
    <div class="card-body">
        <div class="form-group col-md-2">
            <label for="modalSelectedEntity">Entity</label>
            <select class="form-control"
                    id="modalSelectedEntity"
                    ng-model="modalSelectedEntity">
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="modalSelectedEntityName">Entity-Name</label>
            <select class="form-control"
                    id="modalSelectedEntityName"
                    ng-options="maniple.name for maniple in modalSelectedCohort.maniples"
                    ng-Model="modalSelectedEntityName">
            </select>
        </div>
        <div ui-calendar="uiConfig.calendar" ng-model="eventsSource"></div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<!-- Page level plugin JavaScript-->
<script src="../vendor/chart.js/Chart.min.js"></script>
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="../vendor/sb-admin/js/sb-admin-datatables.min.js"></script>
<script src="../vendor/sb-admin/js/sb-admin-charts.min.js"></script>