<!-- Icon Cards-->
<div class="row" ng-hide="dataGenerated()">
    <div class="col-xl-12 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fa fa-fw fa-list"></i>
                </div>
                <div class="mr-5">Simulationsdaten generieren</div>
            </div>
            <a style="cursor: pointer" class="card-footer text-white clearfix small z-1" ng-click="generateData()">
                <span>Hier Klicken!</span>
            </a>
        </div>
    </div>
</div>

<!-- CalenderView-->
<div class="card mb-3">
    <div class="card-header">
        <button class="btn btn-success btn-xs"
                ng-click="setSelectedEvent({})"
                data-title="Delete"
                data-toggle="modal"
                data-target="#addEditModal">
            <span class="fa fa-plus"></span>
        </button>
        <i class="fa fa-dashboard"></i> Veranstaltungen
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="selectableEntities">Filter nach (Typ)</label>
                <select class="form-control"
                        id="selectableEntities"
                        ng-options="selectableEntity for selectableEntity in selectableEntities"
                        ng-model="selectedEntity"
                        ng-change="updateAllEvents()">
                </select>
            </div>
            <div class="form-group col-md-6" ng-switch on="selectedEntity">
                <label>Filtern nach (Wert)</label>
                <select class="form-control"
                        ng-switch-default
                        disabled>
                </select>
                <select class="form-control"
                        ng-switch-when="Dozent"
                        ng-options="docent.fullName for docent in docents()"
                        ng-model="$parent.selectedDocent"
                        ng-change="convertEventsByEntityToCalender(selectedDocent, eventsByDocent);">
                </select>
                <select class="form-control"
                        ng-switch-when="Raum"
                        ng-options="room.fullName for room in rooms()"
                        ng-model="$parent.selectedRoom"
                        ng-change="convertEventsByEntityToCalender(selectedRoom, eventsByRoom);">
                </select>
                <select class="form-control"
                        ng-switch-when="Kohorte"
                        ng-options="cohort.name for cohort in cohorts()"
                        ng-model="$parent.selectedCohort"
                        ng-change="convertEventsByEntityToCalender(selectedCohort, eventsByGroup);">
                </select>
                <select class="form-control"
                        ng-switch-when="Manipel"
                        ng-options="maniple.name for maniple in maniples()"
                        ng-model="$parent.selectedManiple"
                        ng-change="convertEventsByEntityToCalender(selectedManiple, eventsByGroup);">
                </select>
                <select class="form-control"
                        ng-switch-when="Zenturie"
                        ng-options="century.name for century in centuries()"
                        ng-model="$parent.selectedCentury"
                        ng-change="convertEventsByEntityToCalender(selectedCentury, eventsByGroup);">
                </select>
                <select class="form-control"
                        ng-switch-when="Seminargruppe"
                        ng-options="seminarGroup.name for seminarGroup in seminarGroups()"
                        ng-model="$parent.selectedSeminarGroup"
                        ng-change="convertEventsByEntityToCalender(selectedSeminarGroup, eventsByGroup);">
                </select>
            </div>
        </div>
        <div ui-calendar="uiConfig.calendar" ng-model="calenderEvents"></div>
    </div>
    <div class="card-footer small text-muted">{{eventsLastUpdateTime() | lastUpdateMessage}}</div>
</div>

<!-- Add/Edit Modal-->
<div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">leModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content card mx-auto mt-5">
            <div class="card-header">{{event.id ? 'Aktualisieren' : 'Hinzufügen'}}</div>
            <div class="card-body">
                <ng-form name="modalForm" ng-switch on="modalSubjectType">
                    <ng-form name="modalSubForm">
                        <div class="form-row" name="main">
                            <div class="form-group col-md-6">
                                <label for="inputSubjectType">Veranstaltungstyp</label>
                                <select class="form-control"
                                        id="inputSubjectType"
                                        ng-options="key as value for (key , value) in subjectTypes()"
                                        ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputSubjectType.$valid}"
                                        name="inputSubjectType"
                                        ng-model="modalSubjectType"
                                        ng-change="updateVacantRooms()"
                                        required>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputSubject">{{modalSubjectType ? subjectTypes()[modalSubjectType] :
                                    'Modul'}}</label>
                                <select class="form-control"
                                        id="inputSubject"
                                        ng-options="subject.module.shortTitle for subject in subjects() | filter: modalSubjectType? {subjectType: modalSubjectType} : 'undefined'"
                                        ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputSubject.$valid}"
                                        name="inputSubject"
                                        ng-model="modalSubject"
                                        ng-change="updateVacantRooms()"
                                        required>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group"
                                 ng-class="(modalSubjectType==='SEMINAR'||modalSubjectType==='LECTURE')&&!event.id?'col-md-3':'col-md-4'">
                                <label for="inputDate">Datum</label>
                                <div class="input-group date">
                                    <input type="date"
                                           class="form-control datepicker"
                                           ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputDate.$valid}"
                                           name="inputDate"
                                           id="inputDate"
                                           ng-model="modalDate"
                                           placeholder="TT.MM.JJJJ"
                                           ng-change="updateVacantRooms()"
                                           required>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="(modalSubjectType==='SEMINAR'||modalSubjectType==='LECTURE')&&!event.id?'col-md-3':'col-md-4'">
                                <label for="inputStartTime">Startzeit</label>
                                <div class="input-group date">
                                    <input type="time"
                                           class="form-control clockpicker"
                                           ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputStartTime.$valid}"
                                           name="inputStartTime"
                                           id="inputStartTime"
                                           ng-model="modalStartTime"
                                           ng-change="updateVacantRooms()"
                                           required>
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                </div>
                            </div>
                            <div class="form-group"
                                 ng-class="(modalSubjectType==='SEMINAR'||modalSubjectType==='LECTURE')&&!event.id?'col-md-3':'col-md-4'">
                                <label for="inputEndTime">Endzeit</label>
                                <div class="input-group date">
                                    <input type="time"
                                           class="form-control clockpicker"
                                           ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputEndTime.$valid}"
                                           name="inputEndTime"
                                           id="inputEndTime"
                                           ng-model="modalEndTime"
                                           ng-change="updateVacantRooms()"
                                           required>
                                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                </div>
                            </div>
                            <div class="form-group col-md-3" ng-switch-when="LECTURE|SEMINAR"
                                 ng-switch-when-separator="|"
                                 ng-hide="event.id">
                                <label for="inputRepeatWeeks">Wiederholungen</label>
                                <div class="input-group">
                                    <input type="number"
                                           class="form-control"
                                           ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputRepeatWeeks.$valid}"
                                           name="inputRepeatWeeks"
                                           ng-model="$parent.modalRepeatWeeks"
                                           id="inputRepeatWeeks"
                                           ng-change="updateVacantRooms()"
                                           min="1"
                                           max="10"
                                           step="1"
                                           placeholder="1"/>
                                    <span class="input-group-addon">Wochen</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row" ng-switch-when="LECTURE|EXAM" ng-switch-when-separator="|">
                            <div class="form-group col-md-4">
                                <label for="inputCohort">Kohorte</label>
                                <select class="form-control"
                                        id="inputCohort"
                                        ng-disabled="event.id"
                                        ng-options="cohort.name for cohort in cohortsAdvanced"
                                        ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputCohort.$valid}"
                                        name="inputCohort"
                                        ng-model="$parent.modalSelectedCohort"
                                        ng-change="changedCohort()"
                                        required>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputManiple">Manipel</label>
                                <select class="form-control"
                                        id="inputManiple"
                                        ng-disabled="event.id"
                                        ng-options="maniple.name for maniple in modalSelectedCohort.maniples"
                                        ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputManiple.$valid}"
                                        name="inputManiple"
                                        ng-Model="$parent.modalSelectedManiple"
                                        ng-change="changedManiple()"
                                        required>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCentury">Zenturie</label>
                                <select class="form-control"
                                        id="inputCentury"
                                        ng-disabled="event.id"
                                        ng-options="century.name for century in modalSelectedManiple.centuries"
                                        ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputCentury.$valid}"
                                        name="inputCentury"
                                        ng-Model="$parent.modalSelectedCentury"
                                        ng-change="updateVacantRooms()"
                                        required>
                                </select>
                            </div>
                        </div>
                        <div class="form-row" ng-switch-when="SEMINAR">
                            <div class="form-group col-md-12">
                                <label for="inputCohort">Seminargruppe</label>
                                <select class="form-control"
                                        id="inputSeminarGroup"
                                        ng-disabled="event.id"
                                        ng-options="seminarGroup.name for seminarGroup in seminarGroups()"
                                        ng-class="{ 'is-invalid': !modalForm.modalSubForm.inputSeminarGroup.$valid}"
                                        name="inputSeminarGroup"
                                        ng-model="$parent.modalSelectedSeminarGroup"
                                        ng-change="updateVacantRooms()"
                                        required>
                                </select>
                            </div>
                        </div>
                    </ng-form>
                    <div class="form-group" name="multipleSelectForm">
                        <label for="inputRooms">Verfügbare Räume mit entsprechender Kapazität</label>
                        <multiple-autocomplete ng-model="modalSelectedRooms"
                                               object-property="fullName"
                                               name="inputRooms"
                                               required="true"
                                               id="inputRooms"
                                               suggestions-arr="vacantRoomSet">
                        </multiple-autocomplete>
                    </div>
                    <div class="form-group" name="multipleSelectForm">
                        <label for="inputDocents">Dozenten</label>
                        <multiple-autocomplete ng-model="modalSelectedDocents"
                                               object-property="fullName"
                                               name="inputDocents"
                                               required="true"
                                               id="inputDocents"
                                               suggestions-arr="docents()">
                        </multiple-autocomplete>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-labeled btn-secondary" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-times"></i></span>Abbrechen
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger" ng-click="deleteEvent(event)"
                                ng-show="event.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-trash"></i></span>Löschen
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" ng-disabled="modalForm.$invalid"
                                ng-click="updateEvent(getModalEvent())"
                                ng-show="event.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-refresh"></i></span>Aktualisieren
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" ng-disabled="modalForm.$invalid"
                                ng-click="createEvent(getModalEvent(), modalRepeatWeeks)"
                                ng-hide="event.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>Hinzufügen
                        </button>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap DatePicker-->
<script type="text/javascript" src="../vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="../vendor/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js"></script>
<!-- Bootstrap ClockPicker-->
<script type="text/javascript" src="../vendor/bootstrap-clockpicker/js/clockpicker.js"></script>

<script>
    $('.form-control.datepicker').datepicker({
        autoclose: true,
        language: 'de',
        todayHighlight: 'true',
        format: 'yyyy-mm-dd'
    });

    $('.form-control.clockpicker').clockpicker({
        autoclose: true
    });
</script>