<!-- Table-->
<div class="card mb-3">
    <div class="card-header">
        <button class="btn btn-success btn-xs"
                ng-click="setSelectedDocent({})"
                data-title="Delete"
                data-toggle="modal"
                data-target="#addEditModal">
            <span class="fa fa-plus"></span>
        </button>
        <i class="fa fa-users"></i> Dozenten
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="docentTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Vorname</th>
                    <th>Nachname</th>
                    <th>Email</th>
                    <th>Telefonnummer</th>
                    <th>Festanstellung</th>
                    <th>Wechselzeit</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="docent in docents">
                    <td>{{docent.title}}</td>
                    <td>{{docent.forename}}</td>
                    <td>{{docent.surname}}</td>
                    <td>{{docent.email}}</td>
                    <td>{{docent.phoneNumber}}</td>
                    <td>
                        <span ng-show="docent.permanentlyEmployed" class="fa fa-check-square-o"></span>
                        <span ng-hide="docent.permanentlyEmployed" class="fa fa-times"></span>
                        {{docent.permanentlyEmployed?'Ja':'Nein'}}
                    </td>
                    <td>{{docent.minChangeoverTime}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs"
                                ng-click="setSelectedDocent(docent)"
                                data-title="Edit"
                                data-toggle="modal"
                                data-target="#addEditModal">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button ng-click="setSelectedDocent(docent)"
                                class="btn btn-danger btn-xs"
                                data-title="Delete"
                                data-toggle="modal"
                                data-target="#deleteModal">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content card mx-auto mt-5">
            <div class="card-header">Löschen</div>
            <div class="card-body">
                <form name="modal">
                    <div class="form-group">Möchten Sie den ausgewählten Dozenten aus der Verwaltung entfernen?</div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-labeled btn-secondary" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-times"></i></span>Abbrechen
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger" ng-click="deleteData()"
                                ng-show="docent.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-trash"></i></span>Löschen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add/Edit Modal-->
<div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content card mx-auto mt-5">
            <div class="card-header">{{docent.id ? 'Aktualisieren' : 'Hinzufügen'}}</div>
            <div class="card-body">
                <form name="modal">
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="inputTitle">Titel</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputTitle"
                                   ng-model="docent.title"
                                   placeholder="Titel">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputForename">Vorname</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputForename"
                                   ng-model="docent.forename"
                                   placeholder="Vorname">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Nachname</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputSurname"
                                   ng-model="docent.surname"
                                   placeholder="Nachname">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input type="email"
                                   class="form-control"
                                   ng-class="{ 'is-invalid': modal.email.$error.email}"
                                   name="email"
                                   ng-model="docent.email"
                                   id="inputEmail"
                                   placeholder="vorname.nachname@nordakademie.de" required>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPhone">Telefonnummer</label>
                            <input type="tel"
                                   ng-pattern="ph_numbr"
                                   class="form-control"
                                   ng-class="{ 'is-invalid': !modal.phone.$valid}"
                                   name="phone"
                                   ng-model="docent.phoneNumber"
                                   id="inputPhone"
                                   placeholder="+49 4121 40900">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputChangeOverTime">Wechselzeit</label>
                            <input type="number"
                                   class="form-control"
                                   ng-class="{ 'is-invalid': !modal.changeOverTime.$valid}"
                                   name="changeOverTime"
                                   ng-model="docent.minChangeoverTime"
                                   id="inputChangeOverTime"
                                   min="0"
                                   max="120"
                                   step="1"
                                   placeholder="0"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="form-check-input"
                                       type="checkbox"
                                       ng-model="docent.isPermanentlyEmployed"
                                       name="anstellung">
                                Dozent ist festangestellt
                            </label>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-labeled btn-secondary" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-times"></i></span>Abbrechen
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" ng-click="updateData()"
                                ng-show="docent.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-refresh"></i></span>Aktualisieren
                        </button>
                        <button type="button" class="btn btn-labeled btn-success" ng-click="createData()"
                                ng-hide="docent.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-plus"></i></span>Hinzufügen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="../vendor/sb-admin/js/sb-admin-datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#docentTable').DataTable({
            "language": {
                "sEmptyTable": "Keine Daten in der Tabelle vorhanden",
                "sInfo": "_START_ bis _END_ von _TOTAL_ Einträgen",
                "sInfoEmpty": "0 bis 0 von 0 Einträgen",
                "sInfoFiltered": "(gefiltert von _MAX_ Einträgen)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ Einträge anzeigen",
                "sLoadingRecords": "Wird geladen...",
                "sProcessing": "Bitte warten...",
                "sSearch": "Suchen:",
                "sZeroRecords": "Keine Einträge vorhanden.",
                "oPaginate": {
                    "sFirst": "Erste",
                    "sPrevious": "Zurück",
                    "sNext": "Nächste",
                    "sLast": "Letzte"
                },
            }
        });
    });
</script>