<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dozentenverwaltung</title>
</head>
<body>
<h1>Dozentenverwaltung</h1>

<ng-include src="LectureController.getCurrentScreenSource()"></ng-include>
<ul>
    <li ng-repeat="item in docents" href="#">
        {{$index}} {{item.forename}} {{item.surname}} {{item.email}} {{item.phoneNumber}} {{item.isPermanentlyEmployed}}
    </li>
</ul>

<form ng-submit="createData()">
    <p>Forename : <input type="text" name="forename" ng-model="forename" required /></p>
    <p>Surname : <input type="text" name="surname" ng-model="surname" required /></p>
    <p>E-Mail : <input type="email" name="eMail" ng-model="email" required /></p>
    <p>Phone Number : <input type="text" name="phoneNumber" ng-model="phoneNumber" required /></p>
    <p>Title : <input type="text" name= ng-model="title" required /></p>
    <p>Festanstellung :<input type="checkbox"
                      ng-model="anstellung"
                      [name="anstellung"]
                      [ng-true-value=true]
                      [ng-false-value=false]
                      [ng-change="anstellung"]></p>
    <input type="submit" value="Submit" />
    <hr />
    {{ ServerResponse }}
</form>
</body>
</html>