<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-users"></i> Räume</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="roomTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Gebäude</th>
                    <th>Nummer</th>
                    <th>Maximale Sitzanzahl</th>
                    <th>Raumart</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in rooms">
                    <td>{{item.building}}</td>
                    <td>{{item.number}}</td>
                    <td>{{item.maxSeats}}</td>
                    <td>{{item.roomType}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs"
                                data-title="Edit"
                                data-toggle="modal"
                                data-target="#edit">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button class="btn btn-danger btn-xs"
                                data-title="Delete"
                                data-toggle="modal"
                                data-target="#delete">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>



<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="../vendor/sb-admin/js/sb-admin-datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#roomTable').DataTable( {
            "language": {
                "sEmptyTable":      "Keine Daten in der Tabelle vorhanden",
                "sInfo":            "_START_ bis _END_ von _TOTAL_ Einträgen",
                "sInfoEmpty":       "0 bis 0 von 0 Einträgen",
                "sInfoFiltered":    "(gefiltert von _MAX_ Einträgen)",
                "sInfoPostFix":     "",
                "sInfoThousands":   ".",
                "sLengthMenu":      "_MENU_ Einträge anzeigen",
                "sLoadingRecords":  "Wird geladen...",
                "sProcessing":      "Bitte warten...",
                "sSearch":          "Suchen",
                "sZeroRecords":     "Keine Einträge vorhanden.",
                "oPaginate": {
                    "sFirst":       "Erste",
                    "sPrevious":    "Zurück",
                    "sNext":        "Nächste",
                    "sLast":        "Letzte"
                },
            }
        } );
    } );
</script>