<!-- Table-->
<div class="card mb-3">
    <div class="card-header">
        <button class="btn btn-success btn-xs"
                ng-click="setSelectedSeminar({})"
                data-title="Delete"
                data-toggle="modal"
                data-target="#addEditModal">
            <span class="fa fa-plus"></span>
        </button>
        <i class="fa fa-graduation-cap"></i> Kurse
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="seminarTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Bezeichnung</th>
                    <th>Kurztitel</th>
                    <th>Seminaryp</th>
                    <th>Aktion</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="seminar in seminars()">
                    <td>{{seminar.title}}</td>
                    <td>{{seminar.shortTitle}}</td>
                    <td>{{seminarTypes[seminar.seminarType]}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs"
                                ng-click="setSelectedSeminar(seminar)"
                                data-title="Edit"
                                data-toggle="modal"
                                data-target="#addEditModal">
                            <span class="fa fa-pencil"></span>
                        </button>
                        <button ng-click="setSelectedSeminar(seminar)"
                                class="btn btn-danger btn-xs"
                                data-title="Delete"
                                data-toggle="modal"
                                data-target="#deleteModal">
                            <span class="fa fa-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content card mx-auto mt-5">
            <div class="card-header">Löschen</div>
            <div class="card-body">
                <form name="modal">
                    <div class="form-group">Möchten Sie das ausgewählte Seminar aus der Verwaltung entfernen?</div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-labeled btn-secondary" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-times"></i></span>Abbrechen
                        </button>
                        <button type="button" class="btn btn-labeled btn-danger" ng-click="deleteSeminar(seminar)"
                                ng-show="seminar.id" data-dismiss="modal">
                            <span class="btn-label"><i class="fa fa-trash"></i></span>Löschen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add/Edit Modal-->
<div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content card mx-auto mt-5">
            <div class="card-header">{{seminar.id ? 'Aktualisieren' : 'Hinzufügen'}}</div>
            <div class="card-body">
                <form name="modal">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputTitle">Bezeichnung</label>
                            <input type="text"
                                   class="form-control"
                                   ng-disabled="seminar.id"
                                   id="inputTitle"
                                   ng-model="seminar.title"
                                   placeholder="Bezeichnung">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputShortTitle">Kurz Titel</label>
                            <input type="text"
                                   class="form-control"
                                   id="inputShortTitle"
                                   ng-model="seminar.shortTitle"
                                   placeholder="Kurz Titel">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="modalSelectedSeminartype">Seminartyp</label>
                            <select class="form-control"
                                    id="modalSelectedSeminartype"
                                    ng-options="key as name for (key,name) in seminarTypes"
                                    ng-model="seminar.seminarType">
                            </select>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-labeled btn-secondary" data-dismiss="modal">
                                <span class="btn-label"><i class="fa fa-times"></i></span>Abbrechen
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" ng-click="updateSeminar(seminar)"
                                    ng-show="seminar.id" data-dismiss="modal">
                                <span class="btn-label"><i class="fa fa-refresh"></i></span>Aktualisieren
                            </button>
                            <button type="button" class="btn btn-labeled btn-success" ng-click="createSeminar(seminar)"
                                    ng-hide="seminar.id" data-dismiss="modal">
                                <span class="btn-label"><i class="fa fa-plus"></i></span>Hinzufügen
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Page level plugin JavaScript-->
<script src="../vendor/datatables/jquery.dataTables.js"></script>
<script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for this page-->
<script src="../vendor/sb-admin/js/sb-admin-datatables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#seminarTable').DataTable( {
            "language": {
                "sEmptyTable":      "Keine Daten in der Tabelle vorhanden",
                "sInfo":            "_START_ bis _END_ von _TOTAL_ Einträgen",
                "sInfoEmpty":       "0 bis 0 von 0 Einträgen",
                "sInfoFiltered":    "(gefiltert von _MAX_ Einträgen)",
                "sInfoPostFix":     "",
                "sInfoThousands":   ".",
                "sLengthMenu":      "_MENU_ Einträge anzeigen",
                "sLoadingRecords":  "Wird geladen...",
                "sProcessing":      "Bitte warten...",
                "sSearch":          "Suchen:",
                "sZeroRecords":     "Keine Einträge vorhanden.",
                "oPaginate": {
                    "sFirst":       "Erste",
                    "sPrevious":    "Zurück",
                    "sNext":        "Nächste",
                    "sLast":        "Letzte"
                },
            }
        } );
    } );
</script>

